/* CSS for menus, page format and dropdown hamburger menu */

/* top navigation */

.top-navigation {
    background-color: #eb5428;
    box-shadow: 1px 5px 4px 0 rgba(0,0,0,.1);
    position: relative;
    width: 100%;
    z-index: 4;
    grid-row: 1 / 2;
}

.menu-text {
    margin: 0;
    padding: 0;
    color: #000;
}

.top-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #F2F2F2;
}

/* style the links in the top and dropdown menu */
.top-navigation .menu li a {
    padding: 10px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:#eb5428;
}


/* only highlight the links in the dropdown menu when hover */
.top-navigation .menu 
.li-a-with-background:hover {
    background-color: rgba(240, 143, 64, 0.7);
    color: #F2F2F2;
    transition: 0.1s ease-out;
}

/* menu */
.top-navigation .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

/* checkbox format */
.top-navigation .menu-icon {
    cursor: pointer;
    float: left;
    padding: 10px 10px;
    position: relative;
    user-select: none;
    background-color: #F2F2F2;
    text-align: center;
}

/* menu btn */
.top-navigation .menu-btn {
    display: none;
}

.top-navigation .menu-btn:checked ~ .menu {
    max-height: 500px;
}

/* accomodate the logo and sign in */
[href="#logo"] {
    position: absolute;
    top: 5px;
    left: 170px;
    background-color: #eb5428;
    flex-direction: column;
    justify-content: center;
}

[href="#avatar"] {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #F2F2F2;
    flex-direction: column;
    justify-content: center;
    height: 66px;
}

.menu img {
    height: 50px;
    width: 50px;
    padding-right: 10px;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.avatar-icon {
    padding-left: 10px;
    padding-right: 10px;
}