/* CSS for menus, page format and dropdown hamburger menu */

/* top navigation */

.top-navigation {
    background-color: #eb5428;
    box-shadow: 1px 5px 4px 0 rgba(0,0,0,.1);
    position: relative;
    width: 100%;
    z-index: 4;
    grid-row: 1 / 2;
}

.menu-text {
    margin: 0;
    padding: 0;
    color: #000;
}

.top-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #F2F2F2;
}

/* style the links in the top and dropdown menu */
.top-navigation .menu li a {
    padding: 10px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:#eb5428;
}


/* only highlight the links in the dropdown menu when hover */
.top-navigation .menu 
.li-a-with-background:hover {
    background-color: rgba(240, 143, 64, 0.7);
    color: #F2F2F2;
    transition: 0.1s ease-out;
}

/* menu */
.top-navigation .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
}

/* checkbox format */
.top-navigation .menu-icon {
    cursor: pointer;
    float: left;
    padding: 10px 10px;
    position: relative;
    user-select: none;
    background-color: #F2F2F2;
    text-align: center;
}

/* menu btn */
.top-navigation .menu-btn {
    display: none;
}

.top-navigation .menu-btn:checked ~ .menu {
    max-height: 500px;
}

/* accomodate the logo and sign in */
[href="#logo"] {
    position: absolute;
    top: 10px;
    left: 170px;
    background-color: #eb5428;
    flex-direction: column;
    justify-content: center;
}

[href="#avatar"] {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #F2F2F2;
    flex-direction: column;
    justify-content: center;
    height: 66px;
}

.menu img {
    height: 50px;
    width: 50px;
    padding-right: 10px;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
}

.avatar-icon {
    padding-left: 10px;
    padding-right: 10px;
}

/* 768 pixels wide */
@media(min-width: 768px) {
    body {
        max-width: 768px;
    }

    .top-navigation .menu {
        clear: none;
        max-height: none;
        display: flex;
        justify-content:space-between;
        padding-top: 90px;
        grid-row: 2 / 3;
    }

    .top-navigation .menu img {
        padding: 0;
    }

    .top-navigation .menu li a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* move the logo */
    [href="#logo"] {
        top: 0;
        left: 0;
        height: 60px;
    }

    [href="#avatar"] {
        height: 60px;
    }

    .top-navigation .menu 
    .li-a-with-background:hover {
        border-radius: 10px;
        box-shadow: 5px 5px 9px 0px rgba(0,0,0,.2);
    }

    /* hide the burger */
    .menu-icon {
        display: none;
    }

    .search-box-main {
        position: absolute;
        z-index: 4;
        top: 15px;
        display: flex;
        width: 200px;
        justify-content: center;
        margin-left: 400px;
    }

    .search-box {
        background: none;
        padding-top: 14px;
    }

    .main-content > h2 {
        text-align: left;
        padding-left: 20px;
    }

    .main-picture-text {
        position: relative;
    }

    .header-menu-text {
        position: absolute;
        z-index: 3;
        top: 314px;
        width: 768px;
        padding-top: 15px;
        background-color: rgba(238, 230, 230, 0.7);
    }

    /* center details */
    .main-details {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-details dl {
        margin-top: 5px;
    }

    .main-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .main-content 
    .main-side-dishes h2 {
        padding-top: 0;
}

    .main-content-title,
    .header-menu-text,
    .main-picture,
    .main-text,
    .main-details,
    .main-side-dishes {
        grid-column: 1 / 3;
    }

    .main-ingredients {
        grid-column: 1 / 2;
    }

    .main-directions {
        grid-column: 2 / 3;
    }

    .main-content
    .main-side-dishes-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .main-content 
    .main-side-dishes-list img {
    height: 100px;
    width: 100px;
    padding-right: 20px;
    }

    /* footer */
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 30px;
    }

    .footer .img-copy {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .footer .social-media {
        grid-column: 2 / 3;
    }

    .footer .social-media-menu {
        justify-content: flex-end;
        padding-right: 30px;
    }

    .footer .social-media-menu li {
        padding-left: 30px;
    }

}

/* 1280 pixels wide */
@media(min-width: 1280px) {

    body {
        max-width: 1280px;
    }

    .top-navigation {
        display: inline;
    }

    .top-navigation .menu {
        grid-row: 1 / 2;
        padding-top: 0;
        justify-content: space-between;
        padding-left: 200px;
        padding-right: 200px;
    }

    [href="#logo"] {
        height: 76px;
    }

    [href="#avatar"] {
        height: 76px;
    }

    .search-box-main {
        position: relative;
        top: 0;
        width: 1280px;
        margin-left: 0;
        background-color: #F2F2F2;
        z-index: 3;
        padding-top: 30px;
    }

    .search-box input {
        width: 350px;
    }

    .main-content {
        display: grid;
        grid-template-columns: 0.6fr 2fr 3fr;
    }

    .header-menu-text {
        position: relative;
        top: 0;
        width: 100%;
    }

    .main-content
    .main-content-title {
        grid-column: 1 / 4;
    }

    .main-content
    .header-menu-text {
        grid-column: 1 / 2;
    }

    .main-content .header-menu-text {
        border: 2px solid #eb5428;
    }

    .main-content
    .main-picture {
        grid-column: 2 / 3;
    }

    .main-picture img {
        height: 100%;
    }

    .main-content 
    .main-text {
        grid-column: 3 / 4;
    }

    .main-content 
    .header-menu-text 
    .header-menu-icons {
        flex-direction: column;
        height: 100%;
        justify-content: flex-start;
        padding: 0;
    }

    .main-content 
    .header-menu-text 
    .header-menu-icons li {
        padding: 10px;
    }

    /* ingredients and direction sections */
    .main-content
    .main-ingredients {
        grid-column: 1 / 2;
    }

    .main-content
    .main-directions {
        grid-column: 2 / 4;
    }

    /* details section */
    .main-content
    .main-details {
        grid-column: 1 / 4;
        background-color: #0d0d0d;
        color: #7ABFBF;
    }

    .main-details {
        display: grid;
        grid-template-rows: 1fr;
    }

    .main-details > h2 {
        margin-top: 5px;
    }

    .main-details-menu {
        display: flex;
        justify-content: space-around;
    }

    .main-details-list {
        flex-direction: column;
        align-items: center;
    }

    .main-details-list {
        margin-bottom: 10px;
    }

    /* side dishes section */
    .main-side-dishes {
        grid-column: 1 / 4;
    }

    .main-side-dishes
    .main-side-dishes-list {
        display: flex;
        justify-content: space-around;
    }

    .main-side-dishes
    .main-side-dishes-list li {
        flex-direction: column;
    }

    .main-side-dishes
    .main-side-dishes-list li img {
        height: 200px;
        width: 200px;
        padding-bottom: 10px;
    }
    
    /* footer section */
    .footer {
        grid-template-columns: 1fr 1fr 2fr;
    }

    .footer .social-media {
        grid-column: 3 / 4;
    }

    .footer .social-media-menu {
        justify-content: space-between;
    }

    .footer .img-copy {
        display: flex;
        grid-row: 1 / 2;
        padding-left: 20px;
    }

    .footer .img-copy > p {
        padding-top: 20px;
        padding-left: 10px;
    }

}