/* styles CSS */

body {
    background-color: rgba(122, 191, 191, .5);
    max-width: 414px;
    margin: 0 auto;
    font-family: 'Bebas Neue', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
}

/* text */
h1,
h2,
h3,
nav a,
nav span,
menu li,
footer {
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

nav a,
nav span,
menu li,
footer,
.social-media-menu p {
    font-size: 20px;
}

dt {
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

dd {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
}

p {
    line-height: 1.5rem;
    font-size: 16px;
}

.main-ingredients li {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
}

.top-navigation > h2 {
    display: none;
}

.menu-text {
    font-family: 'Bebas Neue', sans-serif;
}

/* header styling */

header {
    background-color: #F2F2F2;
}

header h1 {
    text-align: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

header img {
    width: 100%;
    height: 100%;
}

header .header-menu-icons {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 0;
}

.header-menu-icons li {
    list-style: none;

}


.header-menu-icons li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #eb5428;
}

.header-menu-icons li a:hover {
    transition: 0.2s ease-in-out;
}

#header-description p {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 10px;
}

/* end header */

/* move the icons when hover */
.hamburger-icon:hover,
.logo-icon:hover,
.avatar-icon:hover {
    transform: scale(1.2, 1.2);
}

.svg-icon:hover {
    transform: translate(0px, -7px) scale(1.2, 1.2);
}

/* main content title and background */
main {
    background-color: #F2F2F2;
}

/* style and move search box up */
.search-box-main {
    grid-row: 2 / 3 ;
}

.search-box {
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    padding-top: 30px;
}

.search-box input {
    height: 35px;
    width: 250px;
    box-sizing: border-box;
    border: 3px solid #eba792;
    transition: 0.5s ease-in-out;
    outline: none;
    
}

.search-box input:focus {
    border: 3px solid #eb5428;
}

.search-box-main > h2 {
    display: none;
}

.search-box button {
    background-color: #eb5428;
    cursor: pointer;
    border: none;
}

/* details section */
main .main-details {
    padding: 0 10px;
}

main .main-details h2 {
    text-align: center;
}

main .main-details-list {
    display: flex;
}

main .main-details-list dd {
    margin-left: 10px;
}

/* ingredients section */

main .main-ingredients h2 {
    text-align: center;
}

main .main-ingredients ul {
    margin: 0;
    padding-inline-start: 30px;
}

main .main-ingredients li {
    padding: 10px;
}


/* directions section */

main .main-directions h2 {
    text-align: center;
}

main .main-directions {
    padding-top: 10px;
}

main .main-directions ol {
    padding-inline-start: 30px;
}

main .main-directions ol li {
    padding-left: 10px;
}

main .main-directions li, p {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
}

/* side dishes section */
main .main-side-dishes {
    background-color: #7ABFBF;
}

main .main-side-dishes h2 {
    text-align: center;
    padding-top: 10px;
}

main .main-side-dishes-list {
    padding-left: 20px;
    padding-right: 20px;
}

main .main-side-dishes-list li {
    list-style-type: none;
    padding-bottom: 10px;
}

main .main-side-dishes-list li a {
    display: flex;
    text-decoration: none;
    color:#0D0D0D;
}

main .main-side-dishes-list li a:hover {
    color: #0D0D0D;
    background-color: #f3970d
}

main .main-side-dishes-list li a:visited {
    color: #0D0D0D;
}

main .main-side-dishes-list img {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    padding-left: 10px;
}

main .main-side-dishes-list h3 {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
}

main .main-side-dishes-list p {
    margin: 0;
    padding-left: 10px;
}

main .main-side-dishes-list .main-side-dish-list-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

main .main-side-dishes-list .main-side-dish-list-text {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
}

/* side dishes star rating */
main .main-side-dish-list-text .star-rating-text {
    font-weight: bold;
}

main .rating-star {
    padding-left: 10px;
}

/* footer section */

footer .social-media-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}

footer .social-media-menu li {
    list-style: none;
}

footer .social-media-menu li a {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eb5428;
    text-decoration: none;
}

footer .social-media-menu li a {
    cursor: pointer;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #F2F2F2;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer > h2 {
    display: none;
}

footer img {
    width: 150px;
    height: 150px;
}

footer p {
    font-family: 'Bebas Neue', sans-serif;
}