/* styles CSS */

body {
    background-color: rgba(122, 191, 191, .5);
    padding: 10px;
    max-width: 414px;
    margin: 0 auto;
    font-family: 'Bebas Neue', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
}

/* text */
h1,
h2,
h3,
nav a,
nav span,
menu li,
footer {
    font-family: 'Bebas Neue', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

nav a,
nav span,
menu li,
footer,
.social-media-menu p {
    font-size: 20px;
}

dt {
    font-family: 'Monserrat', sans-serif;
    font-weight: bold;
}

dd {
    font-family: 'Monserrat', sans-serif;
}

p {
    line-height: 1.5rem;
}

.main-ingredients li {
    font-family: 'Monserrat', sans-serif;
}

.top-navigation > h2 {
    display: none;
}

.header > h2 {
    display: none;
}

.header-menu-text > h2 {
    display: none;
}

.header-menu-text {
    background-color: #F2F2F2;
}

.header-menu-text h2 {
    text-align: center;
}

.header-menu-icons {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.header-menu-icon-itself {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-menu p,
.header-menu-icon-itself p {
    margin: 0;
    color: #eb5428;
}

.header-menu-icons li {
    list-style: none;
}

.header-menu-icons a {
    text-decoration: none;
}

.social-media-menu li a:hover,
.header-menu-icons li a:hover {
    transition: 0.5s ease-in-out;
}

.hamburger-icon:hover,
.logo-icon:hover,
.avatar-icon:hover {
    transform: scale(1.2, 1.2);
}

.svg-icon:hover {
    transform: translate(0px, -7px) scale(1.2, 1.2);
}

/* main content title and background */
.main-content {
    background-color: #F2F2F2;
}

.main-content-title h1 {
    text-align: center;
}

/* photo and text */
.main-text h2 {
    padding-left: 20px;
}

.main-text {
    background-color: #F2F2F2;
    color: #0D0D0D;
}

.main-picture {
    margin: 0;
}

.main-picture img {
    width: 100%;
}

.main-text > h2 {
    display: none;
}

.main-text p {
    padding: 10px;
    font-family: 'Monserrat', sans-serif;
}

/* move search box up */
.search-box-main {
    grid-row: 2 / 3 ;
}

.search-box {
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    padding-top: 30px;
}

.search-box input {
    height: 35px;
    width: 250px;
    box-sizing: border-box;
    border: 3px solid #eba792;
    transition: 0.5s ease-in-out;
    outline: none;
    
}

.search-box input:focus {
    border: 3px solid #eb5428;
}

.search-box-main > h2 {
    display: none;
}

.search-box button {
    background-color: #eb5428;
    cursor: pointer;
    border: none;
}

/* details section */
.main-content .main-details {
    padding: 0 10px;
}

.main-content .main-details h2 {
    text-align: center;
}

.main-content .main-details-list {
    display: flex;
}

.main-content .main-details-list dd {
    margin-left: 10px;
}

/* ingredients section */
.main-content .main-ingredients li {
    padding: 10px;
}

.main-content .main-ingredients h2 {
    text-align: center;
}

/* directions section */
.main-content .main-directions {
    padding: 0 5px;
}

.main-content .main-directions h2 {
    text-align: center;
}

.main-content .main-directions li,
.main-content .main-directions li > p {
    font-family: 'Monserrat', sans-serif;
    padding-bottom: 20px;
    padding-left: 10px;
}

/* side dishes section */
.main-content 
.main-side-dishes {
    background-color: #7ABFBF;
}

.main-content 
.main-side-dishes h2 {
    text-align: center;
    padding-top: 10px;
}

.main-content 
.main-side-dishes-list {
    padding-left: 20px;
    padding-right: 20px;
}

.main-content 
.main-side-dishes-list li {
    list-style-type: none;
    padding-bottom: 10px;
}

.main-content 
.main-side-dishes-list li a {
    display: flex;
    text-decoration: none;    
}

.main-content 
.main-side-dishes-list li a:hover {
    color: #000;
    background-color: #f3970d
}

.main-content 
.main-side-dishes-list li a:visited {
    color: #000;
}

.main-content 
.main-side-dishes-list img {
    height: 100px;
    width: 100px;
    padding-top: 10px;
    padding-left: 10px;
    /* padding-right: 20px; */
}

.main-content 
.main-side-dishes-list h3 {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
}

.main-content 
.main-side-dishes-list p {
    margin: 0;
    padding-left: 10px;
}

.main-content 
.main-side-dishes-list 
.main-side-dish-list-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.main-content 
.main-side-dishes-list 
.main-side-dish-list-text {
    font-family: 'Monserrat', sans-serif;
}

/* side dishes star rating */
.main-side-dish-list-text
.star-rating-text {
    font-weight: bold;
}

/* social media menu text size */
.social-media-menu p {
    font-size: 20px;
}

.rating-star {
    padding-left: 10px;
}

/* footer section */
.footer {
    text-align: center;
    background-color: #F2F2F2;
    padding-bottom: 20px;
}

.footer > h2 {
    display: none;
}

.footer img {
    width: 150px;
    height: 150px;
}

.social-media-menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    padding-bottom: 20px;
}

.social-media-menu li {
    list-style: none;
}

.social-media-menu li a {
    cursor: pointer;
    text-decoration: none;
}